<div style="background-color: #ffeb32;">
  <div class="row" style="justify-content: center;">
    <div class="col-xs-12">
      <img src="/assets/saydyz-back.jpg" class="img-responsive" style="height: 20vw; width: 40vw;">
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Order Form">
      <ng-template matTabContent>
        <app-order-add></app-order-add>
      </ng-template>
    </mat-tab>
    <mat-tab label="Order List">
      <ng-template matTabContent>
        <!-- <app-order-add></app-order-add> -->
        <app-order-list></app-order-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<toast></toast>
<page-loader></page-loader>
